* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dynamic-html {
    width: 80%;
    margin: auto;
    display: flex;
}
.student {
    margin: auto 10px;
}

form {
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px double red;
}

h2 {
    font-size: 32px;
    text-align: center;
}

.fruit-boxes {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fruit-box {
    margin: 5px;
    border: 2px double black;
    text-align: center;
}

.fb-img {
    width: 80px;
    height: 80px;
}